@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  clip-path: polygon(
    0 75%,
    0 0,
    100% 0,
    100% 100%,
    63% 100%,
    58% 78%,
    57% 76%,
    56% 75%,
    54% 75%,
    40% 75%
  );
}

.post-slide {
  max-width: 300px;
}

.post-slide img {
  max-height: 180px;
}

.category-slide {
  max-width: fit-content;
}

.blog-section.navigation-button.swiper-button-disabled {
  @apply text-payline-disabled;
  @apply cursor-auto;
}
/*
.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
  justify-content: end;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 20rem;
  min-height: 36rem;
}

.swiper-slide #swiper-slide__image {
  display: block;
  width: 100%;
  min-height: 12rem !important;
  max-height: 12rem !important;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 10px;
  left: 24rem !important;
  width: 100%;
}

.contentWrapper {
  @apply container mx-auto !important;
}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.payline-subhead {
  color: #AEC6A4;
}

.text-color {
  color: #6B7280;
}

.color-peach {
  color: #FBBD92;
}

.bg-peach {
  background-color: #FBBD92;
}
/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.contact-sales-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #425e67;
  border: 1px solid #4f46e5;
  box-sizing: border-box;
  border-radius: 6px;
}

.content-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #6b7280;
  display: block;
  margin-bottom: 18px;
}

.text-bullet {
  display: list-item; /* This has to be "list-item"                                               */
  list-style-type: disc; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  list-style-position: inside;
}

.content-small-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #aec6a4;
  margin-bottom: 4px;
}

.content-large-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  color: #111827;
}

@media (min-width: 1024px) {
  .content-square-background {
    background-image: url("/images/dotted-square.png");
    background-position: right top;
    background-repeat: no-repeat;
    width: 50%;
  }
}

.sales-button {
  border-radius: 5px;
}

.subheading {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

#better-way-send-money-section .wrapper-text-area {
  padding: 15px 0px 15px 0px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 54%, rgba(255,255,255,0.98) 55%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 54%,rgba(255,255,255,0.98) 55%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 54%,rgba(255,255,255,0.98) 55%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  margin: 0 28px 0 0;
}

a.sales-button.rounded-sm.bg-payline-dark.font-bold.text-payline-white.py-2.px-6.border-2.border-payline-black.-ml-2.text-sm.lg\:text-lg.hover\:bg-payline-black.transition-all {
  margin-top: 28px;
  display: inline-block;
  background: #425e67;
  border: 1px solid #4f46e5;
  box-sizing: border-box;
  border-radius: 6px;
  margin-left: 2px !important;
}
ol.num-list {
  list-style-type: none !important;
  counter-reset: list !important;
}
ol.num-list li.text-bullet.content-text::marker {
  list-style: none !important;
  display: none !important;
  content: none !important;
}

ol.num-list li.text-bullet.content-text:before {
  counter-increment: list !important;
  content: counters(list, ".") ". " !important;
  margin-right: 12px;
}
p.content-large-header {
  margin-bottom: 32px;
}
.pos-solutions-first {
  margin-top: -15px;
}
ul.bullet-list ul {
  padding-left: 12px;
}
ul.bullet-list li::marker {
  color: #e5e7eb;
}
.get-in-touch-pos-lower {
  width: 5%;
  height: 15%;
  padding-bottom: 10%;
}
.get-in-touch-pos-upper {
  position: relative;
  margin: 0 auto;
  left: 10px;
}
.get-in-touch-pos {
  display: inline-block;
  padding-left: 2%;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #fbbd92;
}
.get-in-touch-img {
  float: left;
  width: 15%;
  height: 15%;
}

.pos-color-free {
  background-color: #fbbd92 !important;
}
.grid-flow-col {
  grid-auto-flow: inherit!important;
}

.pos-wrapper {
  background-image: url(/images/pos-background-upper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  padding: 12px;
}

/*
.pos-wrapper {
background-image: url(/images/pos-background-upper.png), url(/images/pos-background-lower.png);
background-position: center top, center bottom;
background-repeat: no-repeat, no-repeat;
}

.pos-wrapper {
  background-image: url(/images/pos-background-lower.png), url(/images/pos-background-upper.png);
  background-position: center top, center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  }

  .pos-wrapper {
    background-image: url(/images/pos-background-upper.png), url(/images/pos-background-lower.png);
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    height: 298vh;
}*/